#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Fichier
Name[de]=Fichier
GenericName[de]=Fichier
Comment[de]=Fichier
Exec=nw /usr/share/prop/fichier/.
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=fichier.png
Categories=Education;
Keywords="lp21 sprachen französisch z1 hören lesen"